@import "./color_schemes/dark";


// $white: #fff;
// $grey-dk-000: #eee;
// $grey-dk-100: #5c5962;
$grey-dk-200: #44434d;
// $grey-dk-250: #302d36;
$grey-dk-300: #1d2123;
// $grey-lt-000: #f5f6fa;
// $grey-lt-100: #eeebee;
// $grey-lt-200: #ecebed;
// $grey-lt-300: #e6e1e8;
// $purple-000: #7253ed;
// $purple-100: #5e41d0;
// $purple-200: #4e26af;
// $purple-300: #381885;
// $blue-000: #16ab48;
// $blue-100: #ff0000;
// $blue-200: #aa22ff;
$blue-300: #4f9cdb;
// $green-000: #41d693;
// $green-100: #11b584;
// $green-200: #2BB673;
// $green-300: #026e57;
// $yellow-000: #ffeb82;
// $yellow-100: #fadf50;
// $yellow-200: #f7d12e;
// $yellow-300: #e7af06;
// $red-000: #f77e7e;
// $red-100: #f96e65;
// $red-200: #D14C42;
// $red-300: #dd2e2e;


// $blue-000: #3d5476;
$link-color: #16ab48; // $grey-dk-300;
$body-background-color: $grey-dk-300;
$sidebar-color: $grey-dk-300;

